<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message"><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-product?_method=PUT<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Titre</label>
                <!-- value: getProduct in controller can get product information/ if in edit mode => vue value to update product -->
                <input type="text" name="title" id="title" value="<% if (editing === true || hasError === true) { %><%= product.title %><%  } %>">
            </div>
            <!-- Add selector file to upload -->
            <div class="form-control">
                <label for="image">Image</label>
                <input 
                    type="file" 
                    name="image" 
                    id="image">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <!-- if editing true can edit product -->
                <textarea 
                    name="description" 
                    id="description" 
                    rows="5"><% if (editing || hasError) { %><%= product.description %><%  } %>
                </textarea>
            </div>
            <div class="form-control">
                <label for="price">Prix</label>
                <input type="number" name="price" id="price" step="0.01" value="<% if (editing || hasError) { %><%= product.price %><%  } %>">
            </div>
            <!-- store existing product's id fot the controller, it's just an option to update not for addind product -->
            <% if (editing) { %>
                <!-- not see by the user, id will be include in the form, and will be extracte with the name productId in the incoming req of controller -->
                <input type="hidden" value="<%= product.id %>" name="productId">
            <% } %>
            <!-- generate csrf token, name to package can find token -->
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"><% if(editing){ %>Modifier<% } else { %>Ajouter<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>