<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
</head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <h1>Paiement</h1>
            <ul class="cart__item-list">
                <h2>Articles</h2>
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h2><%= p.title %></h2>
                        <h2>Quantité: <%= p.cartitem.quantity %></h2>
                    </li>
                <% }) %>
            </ul>
            <div class="centered">
                <h2>Total: <%= totalSum %>€</h2>
            </div>
            <div class="centered">
                <script src="https://js.stripe.com/v3/" async></script>
                <button id="order-btn" class="btn">Commande</button>
                <!-- to insert local testing key Stripe -->
                <script>
                    var orderBtn = document.getElementById('order-btn');
                    orderBtn.addEventListener('click', function () {
                    // après vérification par les informations de Stripe, l'utilisateur sera redirigé vers la caisse
                    var stripe = Stripe('pk_test_51NkNbrHlGcwFv9WTgEFfRROuPpVLreFkbDJvdU8CMnGMg8L8rVWHgDW4eOeCPImdowz8eMa2dRpkpJagn5XFcO3X002buf8NwF');
                    stripe.redirectToCheckout({
                        sessionId: '<%= sessionId %>'
                    });
                });
                </script>
            </div>
        </main>

<%- include('../includes/end.ejs') %>