<%- include('../includes/head.ejs') %>
</head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h2><%= p.title %></h2>
                        <h2>Quantity: <%= p.cartitem.quantity %></h2>
                        
                    </li>
                <% }) %>
            </ul>
            <div>
                <h2>Total: <%= totalSum %></h2>
            </div>
        </main>
<%- include('../includes/end.ejs') %>